@font-face {
  font-family: "IRANYekan";
  src: url("/fonts/iranyekan/IRANYekanWebRegular.woff2") format("woff2"),
       url("/fonts/iranyekan/IRANYekanWebRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
